@using Gymer.Models;
@model BaiViet
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<div class="banner_w3lspvt">
    <div class="csslider infinity" id="slider1">

        <div class="banner_slide_bg">

            <img src="~/Content/Img/BannerBT1.jpg" height="500px" ; width="1350px" />
            <div class="container">
                <div class="banner-text">

                </div>
            </div>
        </div>

    </div>
</div>




<div>
    <div class="list-group" style="width: 75%; float: left; margin-top:-18%;">
        <div style="margin-left:4%;">
            <b style="font-family:Arial; font-size: 30px; ">@Model.TenChuDe </b>
            <p>@Model.NoiDung</p>
            <br />
            <img src="~/Content/Img/@Model.AnhChuDe" style="height:440px;width:620px" />
            <br />
            <b>Thực hiện động tác</b>
            <br />
            <p>@Model.HuongDan</p>
        </div>
        <!--Chi se lien ket-->
        <div class="socials-share">
            <a class="btn btn-primary" href="http://www.facebook.com/share.php?u=http://tus.somee.com/ChiTietBaiTap/ChiTiet?machitiet=@Model.MaBaiViet"><b><i class="fa fa-facebook-square">&nbsp;</i>Share</b></a>
        </div>
        <!--Chia se lien ket-->

    </div>

    <div class="list-group" style="width: 20%; float: right; margin-top:-18%">
        @Html.Action("BaiVietMoiNhat", "HienThi")
    </div>
</div>

<div class="clearfix"></div>
<script type="text/javascript">
    window.___gcfg = { lang: 'vi' };
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>


