
@{
    ViewBag.Title = "GopYPhanHoi";
    Layout = "~/Views/Layout/Layout.cshtml";
}
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!--Nen Menu-->
<div style="background-color:black; height:82px; width:100%">
</div>
<!--Phan noi dung-->

<div style="background-color: #FE2E2E;height: 500px;width: 100%;">
    <div class="left" style="float:left; width:65%">
        <div style="color:white; text-align:center">
            <h2 style="font-weight:300">SỨ MỆNH CỦA CHÚNG TÔI LÀ</h2>
            <h2 style="font-weight:600">LÀM CHO CUỘC SỐNG TỐT ĐẸP HƠN</h2>
        </div>
    </div>
    <div class="right" style="float:right; width:35%;height:500px">
        <img src="~/Content/img to me/Tu.jpg" style="width:100%"; height="500">
    </div>
</div>

